@model WebsiteQuanLyHocNgheCuaHung.Models.SinhVien
@using Microsoft.AspNet.Identity
@using WebsiteQuanLyHocNgheCuaHung.Models

@{
    ViewBag.Title = "DangKySinhVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entities db = new Entities();
    var username = User.Identity.GetUserName();
    List<string> listHoTenHLV = new List<string>();
    listHoTenHLV.Add("Chưa có giảng viên");
    List<string> listNgonNguLapTrinh = new List<string>();
    listNgonNguLapTrinh.Add("C#");
    listNgonNguLapTrinh.Add("Java script");
    List<string> listTrinhDoHocVan = new List<string>();
    listTrinhDoHocVan.Add("Đại Học");
    listTrinhDoHocVan.Add("Trung Học Phổ Thông");
    listTrinhDoHocVan.Add("Trung Học Cơ Sở");
    listTrinhDoHocVan.Add("Tiểu Học");
    List<string> listquan = new List<string>();
    listquan.Add("Quận 1");
    listquan.Add("Quận 12");
    listquan.Add("Quận Thủ Đức");
    listquan.Add("Quận 9");
    listquan.Add("Quận Gò Vấp");
    listquan.Add("Quận Bình Thạnh");
    listquan.Add("Quận Tân Bình");
    listquan.Add("Quận Tân Phú");
    listquan.Add("Quận Phú Nhuận");
    listquan.Add("Quận 2");
    listquan.Add("Quận 3");
    listquan.Add("Quận 10");
    listquan.Add("Quận 11");
    listquan.Add("Quận 4");
    listquan.Add("Quận 5");
    listquan.Add("Quận 6");
    listquan.Add("Quận 8");
    listquan.Add("Quận Bình Tân");
    listquan.Add("Quận 7");
    List<string> listphuongquan1 = new List<string>();
    listphuongquan1.Add("Phường Tân Định");
    listphuongquan1.Add("Phường Đa Kao");
    listphuongquan1.Add("Phường Bến Nghé");
    listphuongquan1.Add("Phường Bến Thành");
    listphuongquan1.Add("Phường Nguyễn Thái Bình");
    listphuongquan1.Add("Phường Phạm Ngũ Lão");
    listphuongquan1.Add("Phường Cầu Ông Lãnh");
    listphuongquan1.Add("Phường Cô Giang");
    listphuongquan1.Add("Phường Nguyễn Cư Trinh");
    listphuongquan1.Add("Phường Cầu Kho");
    List<string> listphuongquan12 = new List<string>();
    listphuongquan12.Add("Phường Thạnh Xuân");
    listphuongquan12.Add("Phường Thạnh Lộc");
    listphuongquan12.Add("Phường Hiệp Thành");
    listphuongquan12.Add("Phường Thới An");
    listphuongquan12.Add("Phường Tân Chánh Hiệp");
    listphuongquan12.Add("Phường An Phú Đông");
    listphuongquan12.Add("Phường Tân Thới Hiệp");
    listphuongquan12.Add("Phường Trung Mỹ Tây");
    listphuongquan12.Add("Phường Tân Hưng Thuận");
    listphuongquan12.Add("Phường Đông Hưng Thuận");
    listphuongquan12.Add("Phường Tân Thới Nhất");
    List<string> listphuongquanthuduc = new List<string>();
    listphuongquanthuduc.Add("Phường Linh Xuân");
    listphuongquanthuduc.Add("Phường Bình Chiểu");
    listphuongquanthuduc.Add("Phường Linh Trung");
    listphuongquanthuduc.Add("Phường Tam Bình");
    listphuongquanthuduc.Add("Phường Tam Phú");
    listphuongquanthuduc.Add("Phường Hiệp Bình Phước");
    listphuongquanthuduc.Add("Phường Hiệp Bình Chánh");
    listphuongquanthuduc.Add("Phường Linh Chiểu");
    listphuongquanthuduc.Add("Phường Linh Tây");
    listphuongquanthuduc.Add("Phường Linh Đông");
    listphuongquanthuduc.Add("Phường Bình Thọ");
    listphuongquanthuduc.Add("Phường Trường Thọ");
    List<string> listphuongquan9 = new List<string>();
    listphuongquan9.Add("Phường Long Bình");
    listphuongquan9.Add("Phường Long Thạnh Mỹ");
    listphuongquan9.Add("Phường Tân Phú");
    listphuongquan9.Add("Phường Hiệp Phú");
    listphuongquan9.Add("Phường Tăng Nhơn Phú A");
    listphuongquan9.Add("Phường Tăng Nhơn Phú B");
    listphuongquan9.Add("Phường Phước Long B");
    listphuongquan9.Add("Phường Phước Long A");
    listphuongquan9.Add("Phường Trường Thạnh");
    listphuongquan9.Add("Phường Long Phước");
    listphuongquan9.Add("Phường Long Trường");
    listphuongquan9.Add("Phường Phước Bình");
    listphuongquan9.Add("Phường Phú Hữu");
    List<string> listphuongquangovap = new List<string>();
    listphuongquangovap.Add("Phường 15");
    listphuongquangovap.Add("Phường 13");
    listphuongquangovap.Add("Phường 17");
    listphuongquangovap.Add("Phường 06");
    listphuongquangovap.Add("Phường 16");
    listphuongquangovap.Add("Phường 12");
    listphuongquangovap.Add("Phường 14");
    listphuongquangovap.Add("Phường 10");
    listphuongquangovap.Add("Phường 05");
    listphuongquangovap.Add("Phường 07");
    listphuongquangovap.Add("Phường 04");
    listphuongquangovap.Add("Phường 01");
    listphuongquangovap.Add("Phường 09");
    listphuongquangovap.Add("Phường 08");
    listphuongquangovap.Add("Phường 11");
    listphuongquangovap.Add("Phường 03");
    List<string> listphuongquanbinhthanh = new List<string>();
    listphuongquanbinhthanh.Add("Phường 13");
    listphuongquanbinhthanh.Add("Phường 11");
    listphuongquanbinhthanh.Add("Phường 27");
    listphuongquanbinhthanh.Add("Phường 26");
    listphuongquanbinhthanh.Add("Phường 12");
    listphuongquanbinhthanh.Add("Phường 25");
    listphuongquanbinhthanh.Add("Phường 05");
    listphuongquanbinhthanh.Add("Phường 07");
    listphuongquanbinhthanh.Add("Phường 24");
    listphuongquanbinhthanh.Add("Phường 06");
    listphuongquanbinhthanh.Add("Phường 14");
    listphuongquanbinhthanh.Add("Phường 15");
    listphuongquanbinhthanh.Add("Phường 02");
    listphuongquanbinhthanh.Add("Phường 01");
    listphuongquanbinhthanh.Add("Phường 03");
    listphuongquanbinhthanh.Add("Phường 17");
    listphuongquanbinhthanh.Add("Phường 21");
    listphuongquanbinhthanh.Add("Phường 22");
    listphuongquanbinhthanh.Add("Phường 19");
    listphuongquanbinhthanh.Add("Phường 28");
    List<string> listphuongquantanbinh = new List<string>();
    listphuongquantanbinh.Add("Phường 02");
    listphuongquantanbinh.Add("Phường 04");
    listphuongquantanbinh.Add("Phường 12");
    listphuongquantanbinh.Add("Phường 13");
    listphuongquantanbinh.Add("Phường 01");
    listphuongquantanbinh.Add("Phường 03");
    listphuongquantanbinh.Add("Phường 11");
    listphuongquantanbinh.Add("Phường 07");
    listphuongquantanbinh.Add("Phường 05");
    listphuongquantanbinh.Add("Phường 10");
    listphuongquantanbinh.Add("Phường 06");
    listphuongquantanbinh.Add("Phường 08");
    listphuongquantanbinh.Add("Phường 09");
    listphuongquantanbinh.Add("Phường 14");
    listphuongquantanbinh.Add("Phường 15");
    List<string> listphuongquantanphu = new List<string>();
    listphuongquantanphu.Add("Phường Tân Sơn Nhì");
    listphuongquantanphu.Add("Phường Tây Thạnh");
    listphuongquantanphu.Add("Phường Sơn Kỳ");
    listphuongquantanphu.Add("Phường Tân Quý");
    listphuongquantanphu.Add("Phường Tân Thành");
    listphuongquantanphu.Add("Phường Phú Thọ Hoà");
    listphuongquantanphu.Add("Phường Phú Thạnh");
    listphuongquantanphu.Add("Phường Phú Trung");
    listphuongquantanphu.Add("Phường Hoà Thạnh");
    listphuongquantanphu.Add("Phường Hiệp Tân");
    listphuongquantanphu.Add("Phường Tân Thới Hoà");
    List<string> listphuongquanphunhuan = new List<string>();
    listphuongquanphunhuan.Add("Phường 04");
    listphuongquanphunhuan.Add("Phường 05");
    listphuongquanphunhuan.Add("Phường 09");
    listphuongquanphunhuan.Add("Phường 07");
    listphuongquanphunhuan.Add("Phường 03");
    listphuongquanphunhuan.Add("Phường 01");
    listphuongquanphunhuan.Add("Phường 02");
    listphuongquanphunhuan.Add("Phường 08");
    listphuongquanphunhuan.Add("Phường 15");
    listphuongquanphunhuan.Add("Phường 10");
    listphuongquanphunhuan.Add("Phường 11");
    listphuongquanphunhuan.Add("Phường 17");
    listphuongquanphunhuan.Add("Phường 14");
    listphuongquanphunhuan.Add("Phường 12");
    listphuongquanphunhuan.Add("Phường 13");
    List<string> listphuongquan2 = new List<string>();
    listphuongquan2.Add("Phường Thảo Điền");
    listphuongquan2.Add("Phường An Phú");
    listphuongquan2.Add("Phường Bình An");
    listphuongquan2.Add("Phường Bình Trưng Đông");
    listphuongquan2.Add("Phường Bình Trưng Tây");
    listphuongquan2.Add("Phường Bình Khánh");
    listphuongquan2.Add("Phường An Khánh");
    listphuongquan2.Add("Phường Cát Lái");
    listphuongquan2.Add("Phường Thạnh Mỹ Lợi");
    listphuongquan2.Add("Phường An Lợi Đông");
    listphuongquan2.Add("Phường Thủ Thiêm");
    List<string> listphuongquan3 = new List<string>();
    listphuongquan3.Add("Phường 08");
    listphuongquan3.Add("Phường 07");
    listphuongquan3.Add("Phường 14");
    listphuongquan3.Add("Phường 12");
    listphuongquan3.Add("Phường 11");
    listphuongquan3.Add("Phường 13");
    listphuongquan3.Add("Phường 06");
    listphuongquan3.Add("Phường 09");
    listphuongquan3.Add("Phường 10");
    listphuongquan3.Add("Phường 04");
    listphuongquan3.Add("Phường 05");
    listphuongquan3.Add("Phường 03");
    listphuongquan3.Add("Phường 02");
    listphuongquan3.Add("Phường 01");
    List<string> listphuongquan10 = new List<string>();
    listphuongquan10.Add("Phường 15");
    listphuongquan10.Add("Phường 13");
    listphuongquan10.Add("Phường 14");
    listphuongquan10.Add("Phường 12");
    listphuongquan10.Add("Phường 11");
    listphuongquan10.Add("Phường 10");
    listphuongquan10.Add("Phường 09");
    listphuongquan10.Add("Phường 01");
    listphuongquan10.Add("Phường 08");
    listphuongquan10.Add("Phường 02");
    listphuongquan10.Add("Phường 04");
    listphuongquan10.Add("Phường 07");
    listphuongquan10.Add("Phường 05");
    listphuongquan10.Add("Phường 06");
    listphuongquan10.Add("Phường 03");
    List<string> listphuongquan11 = new List<string>();
    listphuongquan11.Add("Phường 15");
    listphuongquan11.Add("Phường 05");
    listphuongquan11.Add("Phường 14");
    listphuongquan11.Add("Phường 11");
    listphuongquan11.Add("Phường 03");
    listphuongquan11.Add("Phường 10");
    listphuongquan11.Add("Phường 13");
    listphuongquan11.Add("Phường 08");
    listphuongquan11.Add("Phường 09");
    listphuongquan11.Add("Phường 12");
    listphuongquan11.Add("Phường 07");
    listphuongquan11.Add("Phường 06");
    listphuongquan11.Add("Phường 04");
    listphuongquan11.Add("Phường 01");
    listphuongquan11.Add("Phường 02");
    listphuongquan11.Add("Phường 16");
    List<string> listphuongquan4 = new List<string>();
    listphuongquan4.Add("Phường 12");
    listphuongquan4.Add("Phường 13");
    listphuongquan4.Add("Phường 09");
    listphuongquan4.Add("Phường 06");
    listphuongquan4.Add("Phường 08");
    listphuongquan4.Add("Phường 10");
    listphuongquan4.Add("Phường 05");
    listphuongquan4.Add("Phường 18");
    listphuongquan4.Add("Phường 14");
    listphuongquan4.Add("Phường 04");
    listphuongquan4.Add("Phường 03");
    listphuongquan4.Add("Phường 16");
    listphuongquan4.Add("Phường 02");
    listphuongquan4.Add("Phường 15");
    listphuongquan4.Add("Phường 01");
    List<string> listphuongquan5 = new List<string>();
    listphuongquan5.Add("Phường 04");
    listphuongquan5.Add("Phường 09");
    listphuongquan5.Add("Phường 03");
    listphuongquan5.Add("Phường 12");
    listphuongquan5.Add("Phường 02");
    listphuongquan5.Add("Phường 08");
    listphuongquan5.Add("Phường 15");
    listphuongquan5.Add("Phường 07");
    listphuongquan5.Add("Phường 01");
    listphuongquan5.Add("Phường 11");
    listphuongquan5.Add("Phường 14");
    listphuongquan5.Add("Phường 05");
    listphuongquan5.Add("Phường 06");
    listphuongquan5.Add("Phường 10");
    listphuongquan5.Add("Phường 13");
    List<string> listphuongquan6 = new List<string>();
    listphuongquan6.Add("Phường 14");
    listphuongquan6.Add("Phường 13");
    listphuongquan6.Add("Phường 09");
    listphuongquan6.Add("Phường 06");
    listphuongquan6.Add("Phường 12");
    listphuongquan6.Add("Phường 05");
    listphuongquan6.Add("Phường 11");
    listphuongquan6.Add("Phường 02");
    listphuongquan6.Add("Phường 01");
    listphuongquan6.Add("Phường 04");
    listphuongquan6.Add("Phường 08");
    listphuongquan6.Add("Phường 03");
    listphuongquan6.Add("Phường 07");
    listphuongquan6.Add("Phường 10");
    List<string> listphuongquan8 = new List<string>();
    listphuongquan8.Add("Phường 08");
    listphuongquan8.Add("Phường 02");
    listphuongquan8.Add("Phường 01");
    listphuongquan8.Add("Phường 03");
    listphuongquan8.Add("Phường 11");
    listphuongquan8.Add("Phường 09");
    listphuongquan8.Add("Phường 10");
    listphuongquan8.Add("Phường 04");
    listphuongquan8.Add("Phường 13");
    listphuongquan8.Add("Phường 12");
    listphuongquan8.Add("Phường 05");
    listphuongquan8.Add("Phường 14");
    listphuongquan8.Add("Phường 06");
    listphuongquan8.Add("Phường 15");
    listphuongquan8.Add("Phường 16");
    listphuongquan8.Add("Phường 07");
    List<string> listphuongquanbinhtan = new List<string>();
    listphuongquanbinhtan.Add("Phường Bình Hưng Hòa");
    listphuongquanbinhtan.Add("Phường Bình Hưng Hoà A");
    listphuongquanbinhtan.Add("Phường Bình Hưng Hoà B");
    listphuongquanbinhtan.Add("Phường Bình Trị Đông");
    listphuongquanbinhtan.Add("Phường Bình Trị Đông A");
    listphuongquanbinhtan.Add("Phường Bình Trị Đông B");
    listphuongquanbinhtan.Add("Phường Tân Tạo");
    listphuongquanbinhtan.Add("Phường Tân Tạo A");
    listphuongquanbinhtan.Add("Phường An Lạc");
    listphuongquanbinhtan.Add("Phường An Lạc A");
    List<string> listphuongquan7 = new List<string>();
    listphuongquan7.Add("Phường Tân Thuận Đông");
    listphuongquan7.Add("Phường Tân Thuận Tây");
    listphuongquan7.Add("Phường Tân Kiểng");
    listphuongquan7.Add("Phường Tân Hưng");
    listphuongquan7.Add("Phường Bình Thuận");
    listphuongquan7.Add("Phường Tân Quy");
    listphuongquan7.Add("Phường Phú Thuận");
    listphuongquan7.Add("Phường Tân Phú");
    listphuongquan7.Add("Phường Tân Phong");
    listphuongquan7.Add("Phường Phú Mỹ");
}


<h2 id="xemdanhsachfit2">ĐĂNG KÝ TÀI KHOẢN SINH VIÊN</h2>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Sinh viên</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group w3-hide">
                @Html.LabelFor(model => model.IDSinhVien, "IDSinhVien", htmlAttributes: new { @class = "control-label w3-text-blue col-md-2 " })
                <div class="col-md-10">
                    <input class="w3-input w3-border" name="IDSinhVien" value="@db.AspNetUsers.Single(t=>t.UserName.Equals(username)).Id" />
                    @Html.ValidationMessageFor(model => model.IDSinhVien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label w3-text-blue col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "w3-input w3-border" ,@required="required"} })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label w3-text-blue col-md-2" })
                <div class="col-md-10">
                    <select id="dropdownlistquan" name="DiaChi" class="w3-input">
                        @foreach(string item in listquan)
                        {
                            <option value="@item">@item</option>
                        }
                    </select> 
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label w3-text-blue col-md-2">Ngôn ngữ lập trình</label>
                <div class="col-md-10">
                    @Html.DropDownList("NgonNguLapTrinh",new SelectList(listNgonNguLapTrinh), new {@class="w3-input w3-border", @required = "required" })
                    @Html.ValidationMessageFor(model => model.NgonNguLapTrinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = "control-label w3-text-blue col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "w3-input w3-border" , @type="date",@max=DateTime.Now.Date.ToString() } })
                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TrinhDoHocVan, htmlAttributes: new { @class = "control-label w3-text-blue col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TrinhDoHocVan",new SelectList(listTrinhDoHocVan), new { @class = "w3-input w3-border", @required = "required"  })
                    @Html.ValidationMessageFor(model => model.TrinhDoHocVan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label w3-text-blue col-md-2">Điểm TOEFL(nếu có):</label>
                
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiemTOEFL, new { htmlAttributes = new { @class = "w3-input w3-border",@type="number" ,@value="0",@min=0,@max=120 } })
                    @Html.ValidationMessageFor(model => model.DiemTOEFL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group w3-hide">
                <label class="control-label w3-text-blue col-md-2">Chọn HLV</label>
                <div class="col-md-10">
                    <input name="TinhTrangSinhVien" value="Chưa có hợp đồng" />
                    @Html.ValidationMessageFor(model => model.TinhTrangSinhVien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="w3-button w3-deep-purple" />
                </div>
            </div>
        </div>
    }
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}