@model WebsiteQuanLyHocNgheCuaHung.Models.SinhVien
@using Microsoft.AspNet.Identity
@using WebsiteQuanLyHocNgheCuaHung.Models

@{
    ViewBag.Title = "DangKySinhVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entities db = new Entities();
    var username = User.Identity.GetUserName();
    List<string> listHoTenHLV = new List<string>();
    listHoTenHLV.Add("để trống");
    foreach (var item in db.HuanLuyenViens)
    {
        listHoTenHLV.Add(item.HoTen);
    }
    List<string> listNgonNguLapTrinh = new List<string>();
    listNgonNguLapTrinh.Add("C#");
    listNgonNguLapTrinh.Add("Java script");
    List<string> listTrinhDoHocVan = new List<string>();
    listTrinhDoHocVan.Add("Đại Học");
    listTrinhDoHocVan.Add("Trung Học Phổ Thông");
    listTrinhDoHocVan.Add("Trung Học Cơ Sở");
    listTrinhDoHocVan.Add("Tiểu Học");
}


<h2>ĐĂNG KÝ TÀI KHOẢN SINH VIÊN</h2>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Sinh viên</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group w3-hide">
                @Html.LabelFor(model => model.IDSinhVien, "IDSinhVien", htmlAttributes: new { @class = "control-label w3-text-blue col-md-2 " })
                <div class="col-md-10">
                    <input class="w3-input w3-border" name="IDSinhVien" value="@db.AspNetUsers.Single(t=>t.UserName.Equals(username)).Id" />
                    @Html.ValidationMessageFor(model => model.IDSinhVien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label w3-text-blue col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "w3-input w3-border" ,@required="required"} })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label w3-text-blue col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "w3-input w3-border", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class = "control-label w3-text-blue col-md-2">Ngôn ngữ lập trình</label>
                <div class="col-md-10">
                    @Html.DropDownList("NgonNguLapTrinh",new SelectList(listNgonNguLapTrinh), new {@class="w3-input w3-border", @required = "required" })
                    @Html.ValidationMessageFor(model => model.NgonNguLapTrinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = "control-label w3-text-blue col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "w3-input w3-border" , @type="date",@max=DateTime.Now.Date.ToString() } })
                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TrinhDoHocVan, htmlAttributes: new { @class = "control-label w3-text-blue col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TrinhDoHocVan",new SelectList(listTrinhDoHocVan), new { @class = "w3-input w3-border", @required = "required"  })
                    @Html.ValidationMessageFor(model => model.TrinhDoHocVan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label w3-text-blue col-md-2">Điểm TOEFL(nếu có):</label>
                
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiemTOEFL, new { htmlAttributes = new { @class = "w3-input w3-border",@type="number",@max=120 } })
                    @Html.ValidationMessageFor(model => model.DiemTOEFL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label w3-text-blue col-md-2">Chọn HLV</label>
                
                <div class="col-md-10">
                    @Html.DropDownList("TinhTrangSinhVien",new SelectList(listHoTenHLV), new { @class = "w3-input w3-border" })
                    @Html.ValidationMessageFor(model => model.TinhTrangSinhVien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="w3-button w3-deep-purple" />
                </div>
            </div>
        </div>
    }
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
