@model WebsiteQuanLyHocNgheCuaHung.Models.SinhVien
@using WebsiteQuanLyHocNgheCuaHung.Models
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entities db = new Entities();
    List<string> listHoTenHLV = new List<string>();
    listHoTenHLV.Add("Chưa có giảng viên");
    foreach (var item in db.HuanLuyenViens)
    {
        listHoTenHLV.Add(item.HoTen);
    }
    var id = ViewData["id"].ToString();
    var dbSinhVien = db.SinhViens.Single(t=>t.IDSinhVien.Equals(id));
    List<string> listTrinhDoHocVan = new List<string>();
    listTrinhDoHocVan.Add("Đại Học");
    listTrinhDoHocVan.Add("Trung Học Phổ Thông");
    listTrinhDoHocVan.Add("Trung Học Cơ Sở");
    listTrinhDoHocVan.Add("Tiểu Học");
    List<string> listquan = new List<string>();
    listquan.Add("Quận 1");
    listquan.Add("Quận 12");
    listquan.Add("Quận Thủ Đức");
    listquan.Add("Quận 9");
    listquan.Add("Quận Gò Vấp");
    listquan.Add("Quận Bình Thạnh");
    listquan.Add("Quận Tân Bình");
    listquan.Add("Quận Tân Phú");
    listquan.Add("Quận Phú Nhuận");
    listquan.Add("Quận 2");
    listquan.Add("Quận 3");
    listquan.Add("Quận 10");
    listquan.Add("Quận 11");
    listquan.Add("Quận 4");
    listquan.Add("Quận 5");
    listquan.Add("Quận 6");
    listquan.Add("Quận 8");
    listquan.Add("Quận Bình Tân");
    listquan.Add("Quận 7");
}
<a class="w3-button w3-deep-purple" href="@Url.Action("Index","SinhVien",new {Area="SinhVien" })">Trở về</a>
<h2 id="xemdanhsachfit2">Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SinhVien</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDSinhVien)

        <div class="form-group w3-hide">
            @Html.LabelFor(model => model.MSSV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MSSV, new { htmlAttributes = new { @class = "w3-input w3-border" } })
                @Html.ValidationMessageFor(model => model.MSSV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "w3-input w3-border" } })
                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DiaChi", new SelectList(listquan), new { @class = "w3-input w3-border", @required = "required" })

                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group w3-hide">
            @Html.LabelFor(model => model.NgonNguLapTrinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgonNguLapTrinh, new { htmlAttributes = new { @class = "w3-input w3-border" } })
                @Html.ValidationMessageFor(model => model.NgonNguLapTrinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "w3-input w3-border" } })
                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrinhDoHocVan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TrinhDoHocVan", new SelectList(listTrinhDoHocVan), new { @class = "w3-input w3-border", @required = "required" })
                @Html.ValidationMessageFor(model => model.TrinhDoHocVan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiemTOEFL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiemTOEFL, new { htmlAttributes = new { @class = "w3-input w3-border" } })
                @Html.ValidationMessageFor(model => model.DiemTOEFL, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.TinhTrangSinhVien)

        <div class="form-group w3-hide">
            @Html.LabelFor(model => model.DiemThiTracNghiem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiemThiTracNghiem, new { htmlAttributes = new { @class = "w3-input w3-border" } })
                @Html.ValidationMessageFor(model => model.DiemThiTracNghiem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="w3-button w3-pink" />
            </div>
        </div>
    </div>
}


