@using Microsoft.AspNet.Identity
@using WebsiteQuanLyHocNgheCuaHung.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Entities db = new Entities();
}
<div class="">
    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> Admin's Dashboard</b></h5>
    </header>

    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-quarter">
            <a href="@Url.Action("Index","HopDongs",new { Area=""})">
                <div class="w3-container w3-pink w3-padding-16">
                    <div class="w3-left"><i class="fa fa-handshake-o w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>@db.HopDongs.Count()</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Hợp đồng</h4>
                </div>
            </a>
        </div>
        <div class="w3-quarter">
            <a href="@Url.Action("Index","ChungChiSinhViens",new { Area=""})">
                <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left"><i class="fa fa-wpforms w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>@db.ChungChiSinhViens.Count()</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Chứng Chỉ</h4>
                </div>
            </a>
        </div>
        <div class="w3-quarter">
            <a href="@Url.Action("Index","SinhViens",new { Area=""})">
                <div class="w3-container w3-deep-purple w3-padding-16">
                    <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>@db.SinhViens.Count()</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Thực Tập Sinh</h4>
                </div>
            </a>
        </div>
        <div class="w3-quarter">
            <a href="@Url.Action("Index","HuanLuyenViens",new { Area=""})">
                <div class="w3-container w3-purple w3-text-white w3-padding-16">
                    <div class="w3-left"><i class="fa fa-street-view w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>@db.HuanLuyenViens.Count()</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Huấn Luyện Viên</h4>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="w3-container">
        <h5>Trao Chứng Chỉ </h5>
        <table class="container">
            <tr>
                <th>                </th>
                <th>                </th>
                <th>                </th>
            </tr>

            @{ int dem = 0;}
            @foreach (var item in db.ChungChiSinhViens)
        {
            <tr>
                <td><i class="fa fa-handshake-o w3-text-pink w3-large"></i></td>
                <td><text class="w3-text-pink">@item.SinhVien.HoTen</text> vừa nhân chứng chỉ <text class="w3-text-pink">@item.ChungChi.TenChungChi</text></td>
                <td><i>@item.NgayNhanChungChi</i></td>
            </tr>
        dem++;
        if (dem == 5)
        {
            break;
        }
    }
        </table>
        <h5>Hợp đồng</h5>
        <table class="container">
            <tr>
                <th>                </th>
                <th>                </th>
                <th>                </th>
            </tr>

            @{  dem = 0;}
            @foreach (var item in db.HopDongs)
    {
        <tr>
            <td><i class="fa fa-handshake-o w3-text-blue w3-large"></i></td>
            <td><text class="w3-text-blue">@item.SinhVien.HoTen</text> vừa ký hợp đồng với <text class="w3-text-blue">@item.HuanLuyenVien.HoTen</text></td>
            <td><i>@item.NgayTaoHopDong</i></td>
        </tr>
dem++;
if (dem == 5)
{
    break;
}
}
        </table>
    </div>
<div class="w3-container w3-padding">
    <h5>Roles</h5>
    <a href="@Url.Action("Index","ManageRoles")" class="w3-button w3-deep-purple">Quản lý Role  <i class="fa fa-arrow-right"></i></a>
    <a href="@Url.Action("Index","ManageUserRoles")" class="w3-button w3-pink">Quản lý tài khoản  <i class="fa fa-arrow-right"></i></a>
</div>